header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 20px 50px;

  a {
    transition: 0.3s;
    color: brown;
    font-size: 20px;
    border-radius: 10px;
    padding: 3px 7px;
  }

  a:hover {
    background-color: brown;
    color: black;
  }

  .active {
    color: gold !important;
  }
}
